<h3><%= "#{@user.name}様" %></h1>
<p>以下のリンクにアクセスし、パスワードを更新してください。</p>
<%= link_to "Reset your password", edit_password_reset_url(@user.reset_token,email:@user.email)%>
<p>なお、このリンクは発行から2時間有効です。</p>
<p>パスワードをリセットしない場合はこのメールを無視してください。</p>