<%= set_full_title("ユーザー一覧")%>
<h3 class="users-index text-center">ユーザー一覧</h1>
<div class="container">
  <%= paginate @users %>
  <ul class="users">
      <%= render @users %>
  </ul>
  <%= paginate @users %>
</div>