<%= set_full_title("ユーザー一覧")%>
<h3 class="users-index text-center">ユーザー一覧</h1>
<div class="container">
  <ul class="users jscroll">
      <%= render @users %>
      <%= paginate @users %>
  </ul>
</div>
