<% set_full_title("Sign up") %>
<% provide(:subtitle, 'サインイン') %>
<% provide(:submit_text, 'アカウント作成') %>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <%= render 'users/form' %>
        </div>
      </div>
    </div>
  </div>
</div>