<% set_full_title("#{@user.name}さん") %>
<div class="row users-show">
  <% if logged_in? %>
    <%= render 'shared/user_sidebar' %>
  <% end %>
  <div class="col-md-8">
    <% if @user.questions.any? %>
      <h6>質問一覧 - <%= @user.questions.count %></h4>
      <ol class="questions">
        <%= render @questions %>
      </ol>
      <%= paginate @questions %>
    <% end %>
  </div>
</div>
