<% set_full_title("") %>
<div class="jumbotron container">
    <h1 class="display-4">Page,Title</h1>
    <p class="lead">This application is a free Q&A site. Let's question and getting answer!</p>
    <hr class="mr-4">
    <p>Sign up now! or if you have your account , please <%= link_to "login !", "#" %></p>
    <%= link_to "Sign up!" , signup_path , class:"btn btn-primary btn-lg" %>
</div>