<% set_full_title("") %>
<% if logged_in? %>
  <div class="row">
    <%= render 'shared/user_sidebar' %>
    <%= render 'home_pages/questions' %>
  </div>
<% else %>
<div class="jumbotron container">
  <h1 class="display-4">Grandmatch</h1>
  <p class="lead">教える・聞く・知る</p>
  <hr class="mr-4">

  <p>ログインしてさっそく質問する</p>
  <%= link_to "アカウント作成" , signup_path , class:"btn btn-primary" %>
  <span>or</span>
  <%= link_to "ログイン", login_path, class:"btn btn-primary" %>
</div>
<% end %>