@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@media(min-width: 769px){
    header{
        div.navbar-collapse{
            ul.display-md-none{
                display:none;
            }
            form{
                margin-left:auto;
            }
        }
    }

}
@media(max-width: 768px){
button{
    -webkit-appearance: none;
}
}

@media(max-width: 442px){
    main{
        margin-top: 105px !important;
    }
}


img{
    max-width: 100%;
    height: auto;
}
main{
    margin-top:70px;
}
body{
    -webkit-text-size-adjust: 100%;
    background-color: #fcf5e9;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
ul{
    list-style-type: none;
}
header{
    z-index:2000;
}
div.header{
    z-index:2000;
}
.modal{
    z-index:2100;
}
img{
    overflow: auto;
}
hr{
    margin:0.5rem 0;
    border-color:#BBBBBB;
}
footer.mt-auto{
    background-color: #f5f5f5;
    margin-top: auto !important;
}
div.header{
    position:sticky;
    top:56px;
    ul.nav{
        li.nav-item{
            font-size:1.4rem;
            color:white;
            a{
                color:white;
                &:hover{
                    color: skyblue;
                    font-size:1.5rem;
                }
            }

        }
    }
}
form{
    label{
        margin: 10px 0;
    }
    input{
        border-radius: 10px;
    }
    input.btn{
        margin-top:20px;
        width:100%;
    }
    input.btn.search{
        width:auto;
    }
    textarea.form-control{
        height:20rem; //投稿フォームのテキストエリア
    }

}

ul{
    padding:0;
    margin:0;
}

.alert{
    margin:20px;
}

aside{
    margin:1rem;
    border-right: 1px solid #BBBBBB;
}
//home-page
.jumbotron{
    h1{
        letter-spacing:0.3rem;
    }
}
.home-page{
    div{
        h4{
            margin:1rem 0;
        }
        ol{
            list-style-type: none;
            li{
                overflow: auto;
                padding: 0.8rem 0;
                a{
                    padding:0;
                }
                span.user{
                    display:block;
                }
                span.content{
                    display:block;
                }
            }
        }
    }
}
//session new
p.session-new-tologin{
    margin-top:1rem;
}

//users#edit
.gravatar_edit{
    margin: 25px 0 10px 0;
}
//users#show
div.users-show{
    div.col-md-8{
        img{
            margin-right:1rem;
        }
        span.user{
            font-size:1.5rem;
        }
        span.content{
            margin-top:1rem;
        }
        ul{
            list-style-type:none;
            margin:0;
            padding:0;
            li{
                padding:0.8rem 0;
                .gravatar{
                    float:left;
                    margin-right:1.5rem;
                }
                span.user{
                    font-size:1rem;
                    display:block;
                    a{
                        color:cornflowerblue;
                        &:hover{
                            text-decoration:underline;
                        }
                    }
                }
                span.content{
                    margin:0;
                }
                a{
                    color:#515151;
                    text-decoration:none;
                    .timestamp{
                        display:block;
                        color:#999999;
                    }
                }
            }
        }
    }
}
//users#index
h3.users-index{
    margin:2rem;
}
ul.users{
    list-style:none;
    margin:0;
    li{
        overflow:auto;
        padding:0.8rem 0;

    }
    hr{
        margin:0;
    }
}

ul.pagination{
    display:none;
    margin:2rem 0;
    li{
        width:2.5rem;
        height:2.5rem;
        a{
            text-align:center;
        }
    }
}

//user-sidebar
nav.sidebar{
    position:sticky;
    top:0px;
    div.user-info{
        position:sticky;
        top:70px;
        h3{
            margin:1.5rem 0;
            font-weight:normal;
        }
        a.btn{
            margin: 1rem 0;
            &:hover{
                box-shadow: 3px 2px skyblue;
            }
        }
        ul{
            li{
                border-bottom:1px solid #BBBBBB;
                margin: 0.5rem 0;
                a{
                    color:#333;
                }
                &:hover{
                    box-shadow: 1px 2px skyblue;
                    background-color: lightcyan;

                }
            }

        }
    }
}
div.col-md-8{
    margin:2rem 0 0 0;
    h6{
        margin-bottom:1rem;
    }
    ol{
        list-style-type:none;
        margin:0;
        padding:0;
        li{
            padding:0.8rem 0;
            .gravatar{
                float:left;
                margin-right:1.5rem;
            }
            .user{
                display:block;
                a{
                    color:cornflowerblue;
                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
            a{
                color:#515151;
                text-decoration:none;

                .timestamp{
                    display:block;
                    color:#999999;
                }
            }
        }
    }
}

//question-show
div.question-show{
    border-right:1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
    div.user{
        margin:0 0 0.5rem 0;
    }
    h5.lead{
        font-weight:bold;
        span.solved-badge{
            padding:0.3rem 0.5rem;
        }
    }
}
//Questionパーシャルの背景色ホバー時変更
li.question-partial{
    &:hover{
        background-color: #cfffff;
        transition:0.5s
    }
}
//コメントパーシャルの背景色
.comment-partial.bg-solved{
    background-color: rgb(245, 234, 215);
}
.comment-partial{
    button.btn-sm{
        font-size: 0.7rem;
    }
}