@import "bootstrap";



footer.mt-auto{
    background-color: #f5f5f5;
    margin-top: auto !important;
}

form{
    label{
        margin: 10px 0;
    }
    input{
        border-radius: 10px;
    }
    input.btn{
        margin-top:20px;
        width:100%;
    }
}

ul{
    padding:0 0 0 2rem;
    margin:0;
}

.alert{
    margin:20px;
}

aside{
    margin:2rem;
}