<footer class="footer mt-auto py-3 stickey-footer">
    <div class="container">
        <span class="text-muted">©️ 2020 Taketo Hashimoto.<span>
        <br>
        <span class="text-muted">使い方、その他情報は<%= link_to "こちら", help_path, class:"lead"%></span>
    </div>
</footer>